.back-button{
  background-color: rgb(255, 255, 255);
  color: black;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

.link1{
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.next-button{
  background-color: rgb(255, 255, 255);
  color: black;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer; 
}

.stretch-button{
  background-color: green;
  color: white;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: padding 0.5s;
  margin-right: 10px
}

.stretch-button:hover{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.shadow-button{
  background-color: green;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin-right: 20px;
}

.shadow-button:active{
  box-shadow: none;
  margin-top: 3px;
  margin-left: 3px;
}

.button1{
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
  transition: padding 0.3s, margin 0.3s;
}

.button1:hover{
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;
}
